<section class="animate__animated animate__fadeInUp animate__slow icon">

    <h2 class="text-center">Habilidades</h2>
    <div class="row mt-3">
        <div class="col mb-1">
            <img src="assets/img/bootstrap.png" alt="">
            <h4>bootstrap</h4>
        </div>
        <div class="col clg mb-1">
            <img src="assets/img/git.png" alt="">
            <h4>Git</h4>
        </div>
        <div class="col clg mb-1">
            <img src="assets/img/firebase_logo_icon_145278.png" alt="">
            <h4>Firebase</h4>
        </div>
        <div class="col clg mb-1">
            <img src="assets/img/icons8-angular-500.png" alt="">
            <h4>Angular</h4>
        </div>
        <div class="col clg mb-1">
            <img src="assets/img/icons8-c-480.png" alt="">
            <h4>C#</h4>
        </div>
        <div class="col clg mb-1">
            <img src="assets/img/js.png" alt="">
            <h4>JavaScript</h4>
        </div>
        <div class="col clg mb-1">
            <img src="assets/img/sql.png" alt="">
            <h4>Sql</h4>
        </div>
        <div class="col clg mb-1">
            <img src="assets/img/typescript.png" alt="">
            <h4>Typescript</h4>
        </div>  
    </div>
</section>