<section class="animate__animated animate__fadeInUp animate__slow">
    <div class="row mt-3 diva">
        <h2 class="text-center">Fuentes</h2>
        <hr>
        <div class="col-lg-6 clg mb-1 portafolio">
            <a [href]="persona.educacionIT" target="_blank">
                <img class="porta" src="assets/img/educacion-it-centro-de-capacitacion-en-tecnologia.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-6 clg mb-1 portafolio">
            <a [href]="persona.udemy" target="_blank">
                <img class="porta" style="border-radius: 0%; width: 200px;" src="assets/img/Udemy_logo.svg.png" alt="">
            </a>
        </div>
    </div>
    <div class="row mt-3 diva">
        <div class="col-lg-6 clg mb-1">
            <h2 class="text-center">Idiomas</h2>
            <hr>
            <h4>Inglés - A1</h4>
        </div>
        <div class="col-lg-6 clg mb-1 portafolio">
            <h2 class="text-center">Portafolio</h2>
            <hr>
            <a  [href]="persona.git" target="_blank">
                <img class="porta" src="assets/img/github.png" alt="">
            </a>
        </div>
    </div>
    

</section>